.credentialsStep__field {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.credentialsStep__field > :first-child {
  align-self: stretch;
}
