@use "@/renderer/styles/sizes.scss" as sizes;

.supergraphWorkspace__loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - #{sizes.$title-bar-height});
}
