$title-bar-background: #1f1f1f;
$title-bar-symbol: #f5f5f5;
$title-bar-border: #3a3a3a;

:export {
  titleBarBackground: $title-bar-background;
  titleBarSymbol: $title-bar-symbol;
  titleBarBorder: $title-bar-border;
}
