$title-bar-background: #ffffff;
$title-bar-symbol: #1f1f1f;
$title-bar-border: #e0e0e0;

:export {
  titleBarBackground: $title-bar-background;
  titleBarSymbol: $title-bar-symbol;
  titleBarBorder: $title-bar-border;
}
