@use "@/renderer/styles/colors.module.scss" as colors;

.statusIndicator {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  vertical-align: middle;
}

.statusIndicator--healthy {
  background: colors.$healthy;
}

.statusIndicator--failed {
  background: colors.$failed;
}

.statusIndicator--pending {
  border: 2px solid colors.$pending;
}
