@use "@/renderer/styles/colors.module.scss" as colors;

.statusIndicator {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  vertical-align: middle;
}

.statusIndicator--healthy {
  border-radius: 50%;
  background: colors.$healthy;
}

.statusIndicator--failed {
  background: colors.$failed;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

.statusIndicator--pending {
  border-radius: 50%;
  border: 2px solid colors.$pending;
}

.statusIndicator__button {
  padding: 0;
  background: none;
  border: 0;
  line-height: 0;
  cursor: pointer;
}
