@use "@/renderer/styles/colors.module.scss" as colors;

tr.tableRow {
  transition:
    background-color 0.2s ease,
    opacity 0.2s ease;
}

tr.tableRow--highlighted {
  background: rgba(colors.$local, 0.12);
}

tr.tableRow--faded {
  opacity: 0.4;
}
