@use "@/renderer/styles/sizes.scss" as sizes;

.app {
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
}

.app__body {
  display: flex;
  height: calc(100vh - #{sizes.$title-bar-height});
}

.app__body__main {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
}
